################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/schvalovani-documentation/v17
/.vs/schvalovani-documentation
/.vs
